.text-style-1 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.text-style-2 {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
}
.cost-calc {

  &__main-sb-text {
    font-family: P052;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 13px;

    @media (max-width: 1000px) {
      margin-top: 90px;
    }

    @media (max-width: 900px) {
      margin-top: 100px;
    }
    @media (max-width: 600px) {
      margin-top: 54px;
      font-size: 20px;
      line-height: 28px;
    }

    @media (max-width: 600px) {
      padding-left: 26px;
      margin-bottom: 0;
    }
  }
  
  &__main-sb-text-mob {
    display: none;

    @media (max-width: 600px) {
      display: block;
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: #63636F;
      padding-left: 26px;
      margin-bottom: 16px;
    }
  }

  &__container {
    width: 100%;
    display: flex;
    gap: 20px;

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
    }

    &__block1 {
      width: 55%;
      height: 369px;
      border-radius: 16px;
      background: #F7F7F8;

      @media (min-width: 600px) and (max-width: 1200px) {
        width: 100%;
      }
      @media (max-width: 599px) {
       width: 100%;
      }

      &__content {
        padding: 32px 0 0 40px;

        @media (max-width: 599px) {
          padding: 16px 0 0 29px;
        }
        
        &__question {
          font-family: 'Lato', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          margin-bottom: 8px;

          @media (max-width: 599px) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 16px;
          }
        }

        &__progress-bar {
          width: 95%;
          height: 4px;
          background-color: #FFF;
        }

        &__progress-bar-line {
          height: 4px;
          background-color: #C6AF66;
          transition: all .3s ease-in-out;
        }

        &__title {
          @extend .text-style-1;
          margin-top: 32px;
          margin-bottom: 24px;

          @media (max-width: 599px) {
            font-size: 16px;
            line-height: 28px;
            margin-top: 24px;
            margin-bottom: 16px;
          }
        }

        &__opt {
          display: flex;
          gap: 16px;
          margin-bottom: 41px;
          
          @media (max-width: 1430px) {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px
          }
          @media (max-width: 500px) {
            margin-bottom: 25px
          }
        }

        &__line {
          margin-left: -41px;
          width: 120%;
          height: 1px;
          background-color: #FFF;
        }

        &__btn1 {
          display: inline-flex;
          align-items: center;
          width: 40%;
          height: 52px;
          margin-top: 31px;
          border-radius: 4px;
          padding: 14px 24px 14px 24px;
          background-color: #C6AF66;
          transition: all 1s;
          outline: none;
          border: none;

          @media (max-width: 1400px) {
            margin-top: 10px;
          }
          @media (max-width: 500px) {
            padding: 14px 24px 14px 8px;
            margin-top: 24px;
            width: 200px;
          }

          &__text {
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #FFF;
          }

          &:hover {
            cursor: pointer;
            background-color: #ccb054;
            transition: all 1s
          }
        }

        &__send {
          margin-top: 31px;
          padding: 14px 32px; 
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          border-radius: 4px;
          background-color: #C6AF66;
          transition: all 1s;

          @media (max-width: 1400px) {
            margin-top: 10px;
          }
          @media (max-width: 500px) {
            padding: 14px 24px 14px 8px;
            margin-top: 24px;
          }

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 0px 2px #C6AF66;
            background-color: #FFF;
            transition: all 1s;
          }

          &:hover > &__text {
            color: #C6AF66;
          }

          &__text {
            color:#FFF;
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }

        &__btn2 {
          display: inline-flex;
          align-items: center;
          order: -1;
          width: 40%;
          height: 52px;
          margin-top: 31px;
          padding: 14px 24px 14px 32px;
          background-color: #c6af66b9;
          transition: all 1s;
          outline: none;
          border: none;

          @media (max-width: 1400px) {
            margin-top: 10px;
          }
          @media (max-width: 500px) {
            padding: 14px 24px 14px 8px;
            margin-top: 24px;
          }

          &__text {
            font-family: Roboto;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #FFF;
            padding-left: 100px;

            @media (max-width: 700px) {
              padding-left: 70px;
            }
            @media (max-width: 450px) {
              padding-left: 80px;
            }
          }

          &:hover {
            cursor: pointer;
            background-color: #ccb054;
            transition: all 1s;
          }
        }
      }
    }

    &__block2 {
      width: 45%;
      height: 369px;
      border-radius: 16px;
      background: #F7F7F8;
      position: relative;

      @media (min-width: 600px) and (max-width: 1200px) {
        width: 100%;
      }
      @media (max-width: 599px) {
        width: 100%;
        height: 295px; 
      }

      &__bg-img {
        width: 100%;
        height: 100%;
      }

      &__bottle-img {
        position: absolute;
        left: 0;
        width: 100%;
        height: 392px;
        top: -23px;

        @media (max-width: 599px) {
          height: 318px;
          top: -23px;
        }
      }

      &__text {
        position: absolute;
        top: 73%;
        left: 6%;
        width: 80%;
        @extend .text-style-1;

        @media (max-width: 599px) {
          display: none
       }
      }

      &__btn-start {
        display: none;

        @media (max-width: 599px) {
          position: absolute;
          display: inline-flex;
          width: 150px;
          height: 52px;
          top: 73%;
          left: 6%;
          border-radius: 4px; 
          padding: 15px 32px; 
          border: none;
          background-color: #C6AF66;
          transition: all 1s;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 0px 2px #C6AF66;
          background-color: #c6af662a;
          transition: all 1s;
        }

        &:hover > &__text-mob {
          color: #C6AF66;
        }

        &__text-mob {
          color:#FFF;
          font-family: Roboto;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          }
        }
      }
    }
  }
}

.btn-img-right {
  background-image: url('/src/assets/icons/right-arrow.png');
  background-repeat: no-repeat;
  background-position: right 1.1em bottom 14px;
}
.btn-img-left {
  background-image: url('/src/assets/icons/left-arrow.png');
  background-repeat: no-repeat;
  background-position: left 2.3em bottom 14px;
}

.inp_answer_text{
  @extend .text-style-2 ;
  cursor: pointer;
  color: #63636F;

  @media (max-width: 599px) {
    font-size: 14px; 
    line-height: 20px;
  }
  &.active {
    color: black
  }
}
.inp_answer {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ACADA5;
  }
  &:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #C6AF66;
  }
  &:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #C6AF66;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
}
.form_radio {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(34, 35, 36, 0.10);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.1em #c6af66b4
  }
  &.active {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0.1em #C6AF66;
  }
}
.activeEl {
  transform: translateX(20px);
  transition: all 3s;
}
.custom-enter-active,
.custom-leave-active {
  transition: opacity 3s ease;
}
.custom-enter-from,
.custom-leave-to {
  opacity: 0;
}
.hiddenForMobile {
  @media (max-width: 599px) {
    display: none
  }
}