.text-style-1 {
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; 
}

.custom-underline {
  background-image: linear-gradient(currentColor, #C6AF66);
  background-position: 0% 100%;
  background-repeat: no-repeat;
}

.tabs {
  transition: all 1s;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    transition: all 1s;

    @media (max-width: 900px) {
      display: none;
      transition: all 1s;
    }
  }

  &__nav-btn {
    text-decoration: none;
    @extend .custom-underline;
    background-size: 0% 2px;
    transition: background-size .7s, color .7s;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: black;
    padding-bottom: 10px;

    &:hover {
      background-size: 100% 2px;
      color:#c6af66b7;
      transition: all 1s;
    }
    &.active {
      color: #C6AF66;
      @extend .custom-underline;
      background-size: 100% 2px;
    }
  }

  &__content {
    margin: 24px 166px 0 166px;
    transition: all 1s;

    @media (max-width: 1400px) {
      margin: 24px 106px 0 156px;
      transition: all 1s;
    }
    @media (max-width: 1300px) {
      margin: 24px 76px 0 156px;
      transition: all 1s;
    }
    @media (max-width: 1200px) {
      margin: 24px 56px 0 116px;
      transition: all 1s;
    }
    @media (max-width: 1100px) {
      margin: 24px 46px 0 86px;
      transition: all 1s;
    }
    @media (max-width: 1000px) {
      margin: 24px 26px 0 56px;
      transition: all 1s;
    }
    @media (max-width: 600px) {
      margin: 0;
      transition: all 1s;
    }
  }

  &__item {
    display: none;
  }

  &__item.active {
    display: block
  }
}

.modal-content {
  width: 47rem;
  height: 328px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(34, 35, 36, 0.10); 
  position: relative;
  transform: translateY(20rem);

  @media (max-width: 1200px) {
    transform: translateY(40rem);
  }
  @media (max-width: 800px) {
    width: 40rem;
    height: 348px;
  }
  @media (max-width: 700px) {
    transform: translateY(45rem);
    width: 25rem;
    height: 428px;
  }
  @media (max-width: 600px) {
    transform: translateY(20rem);
  }
  @media (max-width: 500px) {
    width: 22rem;
    height: 428px;
  }
  
  &__close-svg {
    position: absolute;
    background-image: url('../assets/svg/close_24px.svg');
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    top: 21px;
    right: 20px;
    cursor: pointer;
    transition: transform 2s;
    transform: rotate(-180deg);

    &:hover {
      transition: transform 2s;
      transform: rotate(180deg)
    }
  }

  &__container {
    margin-top: 40px;
    width: 100%;
    display: flex;
    gap: 100px;

    @media (max-width: 800px) {
      gap: 20px;
    }
    @media (max-width: 700px) {
      flex-direction: column;
    }

    &__block-1 {
      margin-left: 40px;

      &__title { 
        color: #C6AF66;
        font-family: P052;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }

      &__subtitle {
        margin-top: 8px;
        color: #ACADA5;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 1px;
      }

      &__politics {
        margin-top: 119px;
        color: #ACADA5;
        @extend .text-style-1; 

        @media (max-width: 700px) {
          display: none
        }
      }

      &__politics-href {
        color: #ACADA5;
      }
    }

    &__block-2 {
      
      @media (max-width: 700px) {
        margin-left: 40px;
      }

      &__inp-text {
        color: #ACADA5;
        @extend .text-style-1;
        margin-bottom: 5px;
      }

      &__inp {
        width: 15rem;
        height: 52px;
        border-radius: 4px;
        background: #E9EAEC;
        margin-bottom: 16px;
        border: none;
        padding: 16px;

        &:focus {
          outline: none;
          box-shadow: 0px 0px 0px 0.1em #c6af66b4;
        }
      }

      &__politics {
        display: none;
        
        @media (max-width: 700px) {
          display: block;
          color: #ACADA5;
          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px; 
          margin-bottom: 15px;
        }
      }

      &__politics-href {
        color: #ACADA5;
      }

      &__btn-1 {
        padding: 14px 32px; 
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        background-color: #C6AF66;
        transition: all 1s;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 0px 0px 2px #C6AF66;
          background-color: #FFF;
          transition: all 1s;
        }

        &:hover > &__text {
          color: #C6AF66;
        }

        &__text {
          color:#FFF;
          font-family: Roboto;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
        }
      }
    }
  }
}

.forMobile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  padding-left: 20px;
  transition: all 1s;
}


